.container{
    width:500px;
    margin:auto;
    background-color: darkblue;
    border-radius: 1rem;
    border: 1rem solid darkblue
}
button {
    width: 19%;
    padding:10px;
    background-color: cornflowerblue;
    border-radius: 1rem;
    margin-bottom: 1rem;
    font-size: 2rem;
}
button.operation {
    background-color: peachpuff;
}
button.util {
    background-color: peru;
}

.display {
    width: 80%;
    height: 2rem;
    text-align: right;
    font-size: 2em;
    padding: 5px;
    border: 5px solid black;
    margin: auto;
    margin-bottom: 1rem;
    color:cadetblue;
    background-color: aquamarine;
}
.row {
    margin: auto;
}